* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: snow;
}

.FirstContainer {
  background-color: lightskyblue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.FirstContainerTitle {
  background-color: burlywood;
  height: 20%;
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.FirstContainerUL {
  background-color: burlywood;
}

.FirstUL,
.SecondUL,
.ThirdUL {
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.SecondUL:hover {
  cursor: pointer;
  font-size: large;
}

.ThirdUL:hover {
  cursor: pointer;
  font-size: large;
}

.SecondContainer {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.SecondContainerTitle {
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  position: absolute;
}

.SecondContainerP {
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 60px;
  text-align: center;
}

.ThirdContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ThirdContainerSubContainerOne {
  background-color: aqua;
}

.ThirdContainerFirstTitle {
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.ThirdContainerList {
  text-align: left;
  list-style-type: circle;
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
}

.ThirdContainerSubContainerTwo {
  background-color: aqua;
}

.ThirdContainerSecondTitle {
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.ThirdContainerP {
  color: aliceblue;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
}

.FourthContainer {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.FourthContainerTitle {
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  position: absolute;
}

.FourthContainerLi {
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
  margin-top: 60px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .FirstContainer {
    background-color: olivedrab;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .SecondContainer {
    background-color: olivedrab;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .ThirdContainer {
    background-color: olivedrab;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .ThirdContainerSubContainerOne {
    background-color: olivedrab;
  }

  .ThirdContainerSubContainerTwo {
    background-color: olivedrab;
  }

  .ThirdContainerP {
    color: papayawhip;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 800;
    font-size: large;
  }

  .FourthContainer {
    background-color: olivedrab;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .FirstContainer {
    background-color: olive;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .SecondContainer {
    background-color: olive;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .ThirdContainer {
    background-color: olive;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .ThirdContainerSubContainerOne {
    background-color: olive;
  }

  .ThirdContainerSubContainerTwo {
    background-color: olive;
  }

  .ThirdContainerP {
    color: peachpuff;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 800;
    font-size: large;
  }

  .FourthContainer {
    background-color: olive;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}



@media screen and (max-width: 767px) {
  .FirstContainer {
    background-color: orangered;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .SecondContainer {
    background-color: orangered;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .ThirdContainer {
    background-color: orangered;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .ThirdContainerSubContainerOne {
    background-color: orangered;
  }

  .ThirdContainerSubContainerTwo {
    background-color: orangered;
  }

  .ThirdContainerP {
    color: powderblue;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 800;
    font-size: large;
  }

  .FourthContainer {
    background-color: orangered;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
